body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ***** * ***** */
* {
  vertical-align: baseline;
  font-size: 100%;
  font: inherit;
  padding: 0;
	margin: 0;
	border: 0;
}

/* ***** *** ***** */
/*** C O M P O N E N T S ***/
/* ***** *** ***** */

/*** Header.jsx ***/

.img-header {
  background-image: url("/public/imgHeader.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
	min-height: 20vh;	
}

.colorbg-header {
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  position: relative;
	min-height: 20vh;
	display: flex;
  width: 100%;
}

.h1-header {
	text-align: center;
	color: #ffffff;
}

/*** Navbar.jsx ***/
.navbar-flex {
  justify-content: space-between;
  display: flex;
}

a {
  text-decoration: none !important;
  color: #ffffff !important;
  font-size: 1.5em;
}

/* ***** *** ***** */
/*** V I E W S ***/
/* ***** *** ***** */

/*** Carrito.jsx ***/

.img-pizza-car {
  width: 4em;
  height: 3em;
}

.bg-gray {
  background-color: #efefef;
  padding: 2em;
}

.bg-white {
  background-color: #ffffff;
  padding: 1em;
}

/*** Home.jsx ***/

.catalogue {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  gap: 10px;
}

li {
  list-style:none;
}

.price-card {
  text-align: center;
  padding-top: 1em;
}

.button-flex {
  justify-content: space-between;
  display: flex;
}

.button-card {
  color: #ffffff !important;
  margin: .5em;
  width: 8em;
}

/*** Pizza.jsx ***/

.card-pizza {
  display: flex;
}

.card-img-top-1 {
  height: 100%;
}

.card-body-1 {
  width: 35em
}

.price-btn {
  justify-content: space-between;
  display: flex;
}

.img-pizza-triste {
  background-image: url("/public/pizza-triste.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
	min-height: 50vh;	
}